body{
    margin: 0 auto;
}
.clearfix::after{
    display: block;
    clear: both;
    overflow: hidden;
    content: ''; 
}
.header{
    background: url('../pic/bg_header.png') no-repeat;
    height: 750px;
    background-size: cover;
    background-position: center
}
.header-top{
    position: absolute;
    top: 59px;
    right: 57px;
    left: 89px;
}
.about{
    text-align: center;
}
.menu_static{
    line-height: 63px;
    float: right;
}
.menu-item_static{
    font-family: Raleway;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    width: 72px;
    height: 9px;
    margin: 0 16px;
    transition: all .3s ease-out;
    text-transform: uppercase;
    color: #fff;
}
.menu-item_static:hover{
    cursor: pointer;
    opacity: 0.6;
}
.about_title{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.avtor{
    width: 170px;
    height: 170px;
    margin: 10% 0;
}
.logo{
    width: 104px;
}
.social-icons{
    width: 400px;
    margin: 0 auto;
}
.icons{
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 10% 2% 0 1%;
    list-style-type: none;
    transition: all .3s ease .15s; 
    opacity: .9;
    border: 1px solid #868686;
    border-radius: 100%;
}
.icons:hover{
    visibility: visible;
    cursor: pointer;
    opacity: .9;
    background-color: #e1571a;
}
.icons_correct{
    line-height: 2.5;
    text-align: center;
}
.portfolio{
    width: 75%;
    margin: 5% auto;
}
.gallery{
    position: relative;
    display: inline-block;
    width: 23%;
    margin: 0.5%;
}
.gallery-item-content{
    font-family: Playfair Display;
    font-size: 19px;
    font-style: italic;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    cursor: pointer;
    transition: all .3s ease .15s;
    text-align: center;
    opacity: 0;
    color: white;
    background-color: #303030;
}
.gallery-item-text{
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
}
.gallery:hover .gallery-item-content{
    visibility: visible;
    opacity: 0.5;
}
.life{
    font-family: Playfair Display;
    font-size: 19px;
    font-style: italic;
    color: white;
}
.port{
    font-family: Raleway;
    font-size: 0.500em;
    font-weight: 600;
    line-height: 15px;
    color: white;
}
.main{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.facebook{ width: 6px; height: 13px;}
.twitter{ width: 12px; height: 10px;}
.google{ width: 15px; height: 15px;}
.ball{ width: 12px; height: 12px;}
.p{ width: 10px; height: 13px;}
.git{ width: 13px; height: 14px;}

.article-title{
    text-align: left;
}
.btn_inside{
    text-align: center;
}
.after_gallery{
    font-family: Raleway;
    font-size: 13px;
    font-weight: 500;
    line-height: 3;
    transition: all .3s ease .10s;
    text-transform: uppercase;
    color: white;
    background-color: #303030;
    padding:0 35px ;
}
.main-part{
    font-family: Raleway;
    padding: 0 45px ;
    font-size: 13px;
    line-height: 3;
    font-weight: 500;
    transition: all .3s ease .10s;
    text-transform: uppercase;
    text-transform: uppercase;
    color: white;
    background-color: #303030;
}
.info_main_part{
    width: 75%;
    margin: 0 auto;
}
.last_main-part{
    font-family: Raleway;
    font-size: 13px;
    font-weight: 500;
    transition: all .3s ease .10s;
    text-align: center;
    line-height: 3;
    text-transform: uppercase;
    color: white;
    background-color: #303030;
}
.after_gallery:hover,
.main-part:hover,
.last_main-part:hover,
.icons_paralax:hover{
    cursor: pointer;
    opacity: .6;
    background: #e1571a;
}
.main_part{
    margin-top: 10%;
}
.flower{
    float: left;
    width: 23%;
    margin-top: -5%;
    margin-left: 20%;
}
.man{
    float: right;
    width: 50%;
    margin-left: 3%;
}

.paralax{
    position: relative;
    margin: 5% 0;
}
.icons_paralax{
    position: absolute;
    top: 60%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 45px;
    margin: 0 auto;
    transition: all .3s ease .15s;
    opacity: 0.9;
    border: 1px solid #868686;
    border-radius: 100%;
    list-style-type: none;
}
.shape{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid white;
    border-bottom: 15px solid transparent;
    display: inline-block;
    vertical-align: middle;
    transition: all .9s ease-out;
    margin-left: 5px;
}
.about_client{
    width: 5%;
    margin: 0  auto;
}
.about_client-text{
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}
.client{
   padding-top: 90%;
}
.line{
    width: 50px;
    margin: -2% auto;
}
.buttons{
    width: 50px;
    margin: 2% auto;
}
.prev,
.next{
    width: 4px;
    height: 9px;
}
.prev_btn,
.next_btn{
    width: 23px;
    transition: all .2s ease .12s;
    border: 1px solid #e8e8e8;
    background-color: white;
}
.prev_btn:hover,
.next_btn:hover{
    transform: scale(1.3);
    opacity: .6;
    border: 1px solid #303030;
}
.insta{
    font-size: 0;
    margin-top: 5%;
}
.instagram{
    width: 20%;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.footer{
    height: 430px;
    background-color: #141414;
    text-align: center;
    margin-top: -1px;
}
.cont_foot{
    max-width: 960px;
    margin: 0 auto;
    padding-top: 20px;     
}
.footer-text_item{
    margin: 0 auto;
    padding-top:3%;
    text-align: center;
}
.social-icons_footer{
    width: 400px;
    margin: 0 auto;
}
.end{
    height: 1px;
    border: none;
    background-color: #262626;
    margin: 5% 0 7.5% 0;
}
/* Adaptive */
@media screen and (max-width:768px){
    .header{
        background-position: right ;
    }
    .gallery{
        display: block;
        width: 100%;
    }
    .menu_static{
        display: none !important;
    }
    .wrap{
        max-width: 960px;
        margin: 0;
        padding: 0;
    }
    .info_main_part,
    .info_main_part_f{
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }
    .information{
        width: 100% !important;
    }
    .flower{
         display: none !important;
     }
     .man{
         width: 100%;
     }
     .title_tit{
        font-size: 1.875em;
         margin: 0 !important;
     }
     .information_main_part{
        font-size: 0.688em;
         margin: 0 !important;
     }
     .about_client{
         width: 15%;
     }
     .client{
         padding-top: 40%;
     }      
}
@media screen and (max-width: 320px){
    .icons{
        margin: 0;
    }
    .social-icons,
    .social-icons_footer{
        width: 150px;
        padding: 5%;
    }
}