/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-spacing: 0;
} 
/* end reset browser styles */
.clearfix::after{
	content:'';
	clear: both;
	overflow: hidden;
	display: block;
}
.wrap {}
.header {
	position: relative;
}
.header-top {
	position: absolute;
	top: 59px;
	left: 89px;
	right: 57px;
}
.menu {
	float: right;
	line-height: 63px;
}
.menu-item {
	width: 72px;
	height: 9px;
	margin: 0 16px;
	color: #fff;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
	transition: all .3s ease-out;
}
.menu-item:hover
{
    cursor: pointer;

    opacity: 0.9;
    color: #fed136;
}

.icon-menu {}
.icon-search {}
.slide {
	background: url('../image/background_header.jpg');
	background-size: cover;
	width: 1600px;
	height: 700px;
}
.main {
	text-align: center;
}
.footer {}
.logo {
	width: 104px;
}

.title {
	color: #303030;
	text-align: center;
	font-family: Montserrat;
	font-size: 30px;
	font-style: italic;
	line-height: 24px;
}

.article-title {
	text-align: center;
} 
.avtor {
	width:15%;
	border-radius:50% 50%;
}
.welcome{
	/* Text style for "Welcome To Our" */
	width: 30%;
	height: 40%;
	color: white;
	font-family: Droid Serif;
	font-size: 40px;
	font-style: italic;
	margin: 0 auto;
	line-height: 10;
}
.NTMU{
	/* Text style for "It’s nice to M" */
	width: 56.5%;
	color: white;
	font-family: Montserrat;
	font-size: 75px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 auto;
}
.container {
	
}
