.title_about_me{
	color: black;
	font-family: Raleway;
	font-size: 2.500em;
	font-weight: 400;
	line-height: 14px;
	text-transform: uppercase;
	padding:5% 0 2% 0;
}
.text_about{
	color: black;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 5%;
	text-align: left;
}
.text_serv{
	color: black;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 14px;
	text-transform: uppercase;
	line-height: 100px;
}
.title_contact{
	color: #f8f8f8;
	font-family: Raleway;
	font-size: 2.500em;
	font-weight: 400;
	line-height: 14px;
	text-transform: uppercase;
	padding:5% 0 2% 0;
	text-align: center;
}
.contact_text{
	color: #f8f8f8;
	font-family: Helvetica;
	font-size: 0.875em;
	font-weight: 400;
	line-height: 24px;
}